@import "assets/styles/_variables.scss";

.adminLobbyMenu {
  margin-top: 10px;
}

.title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.scoreInput {
  width: 20vw;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid $TextDark;
  border-bottom-left-radius: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.settings {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings span {
  padding-top: 10px;
}

.settings > span:not(.pen) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 45px;
}

.settings h3 {
  font-family: Ruda, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  border: 1px solid $Deep-Koamaru;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  box-sizing: border-box;
}

.card:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 75px;
  height: 75px;
  transition: all 0.5s;
}

.card img:hover {
  transform: scale(1.1);
}

.timerContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.cardsWrapper {
  margin-top: 20px;
}
