@import '/src/assets/styles/variables';

.container {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 50px;
}

.menuField h1 {
	text-align: center;
	font-family: Ruda, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}

.menuField {
	width: 70%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: 900px) {
		min-width: 50%;
		padding: 0 15px;
	}
}

.menu {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 90%;

	@media only screen and (max-width: 900px) {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		margin-bottom: 20px;
	}
}

.masterCard {
	width: 200px;

	@media only screen and (max-width: 900px) {
		justify-items: flex-start;
	}
}

.btnMaster {
	@media only screen and (max-width: 900px) {
		width: 100%;
	}
}

.settings {
	padding: 50px;
	display: flex;

	@media only screen and (max-width: 900px) {
		width: 100%;
		padding: 0;
		flex-direction: column;
	}
}

.issues {
	width: 30%;

	@media only screen and (max-width: 900px) {
		width: 100%;
	}
}

.settingsControl {
	padding: 20px;
	width: 100%;

	@media only screen and (max-width: 900px) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 0;
	}
}

.cardContainer {
	height: 100%;
}
