@import '/src/assets/styles/_variables';

.container {
	position: relative;
	display: flex;
	background-color: $White-color;

	&.custom {
		& > .field:focus ~ .label,
		& > .field:not(:placeholder-shown) ~ .label {
			z-index: 2;
			transform: translate(0, -125%) scale(0.8);
		}

		& > .label {
			color: $Desaturated-Cyan;
			position: absolute;
			top: 24%;
			left: 8px;
		}
	}

	&.left_label {
		flex-direction: row-reverse;
	}

	&.up_label {
		flex-direction: column-reverse;
	}
}

.label,
.field {
	font-family: $MainFont;
	font-style: normal;
	font-weight: bold;
	@media (max-width: 800px) {
		font-size: 18px;
		line-height: 1.5;
	}
}

.label {
	padding: 0 6px;
	font-size: 18px;
	line-height: 1;
	background-color: inherit;
	transition: all 300ms ease-in-out;
}

.field {
	padding-left: 10px;
	border-radius: 5px;
	font-size: 24px;
	line-height: 2rem;
}
