.section {
	width: 80%;
	margin: 0 auto;

	@media only screen and (max-width: 800px) {
		width: 100%;
		margin: 20px;
		align-self: flex-start;
	}
}

.title {
	font-family: Ruda, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}

.scram {
	padding: 10px;

	@media only screen and (max-width: 800px) {
		padding: 20px 0;
		width: 100%;
	}
}

.scramTitle {
	@media only screen and (max-width: 800px) {
		margin-bottom: 10px;
	}
}

.scram span {
	display: block;
	font-size: 24px;
}

.exit {
	display: flex;
	justify-content: flex-end;
}

.btnExit {
	@media only screen and (max-width: 800px) {
		width: 100%;
	}
}

.team {
	margin-top: 50px;
}

.members {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;

	@media only screen and (max-width: 800px) {
		justify-content: center;
	}
}

.cardList {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
