.main_container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 40px 20px;
	gap: 0 5px;
	margin: auto;

	@media (max-width: 460px) {
		padding: 20px 5px;
	}
}

.content {
	width: 100%;

	@media (min-width: 640px) {
		max-width: 1300px;
		width: 80%;
	}
}
