@import 'assets/styles/_variables.scss';

.cardsWrapper {
	padding-top: 20px;
}

.card {
	border: 1px solid lightgrey;
	height: 200px;
	width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 10%;
}

.card :nth-child(1) {
	position: absolute;
	top: 10px;
	left: 15px;
}

.card :last-child {
	position: absolute;
	bottom: 10px;
	text-align: end;
	right: 15px;
}

.pen {
	position: absolute;
	font-size: 26px;
	color: $Sage;
	top: 5px;
	right: 10px;
}
