@import 'assets/styles/_variables.scss';

.adminLobby {
	border: 1px solid $Dark-Electric-Blue;
	border-bottom: none;
	border-top: none;
	padding: 10px 36px;
	color: black;
}

.adminLobby input[type='text'] {
	width: 20vw;
	margin-top: 10px;
	padding-left: 10px;
	border: 1px solid $TextDark;
	border-bottom-left-radius: 10px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
}

h2 {
	font-family: Ruda;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}
