.form {
	width: 50%;
	min-height: 500px;
	margin: 50px auto;
	padding: 60px;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	border: 3px solid #3162ac;
}

.title {
	font-family: Roboto, sans-serif;
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 30px;
}
