@import 'assets/styles/_variables.scss';

.form {
	width: 50%;
	max-width: 800px;
	height: auto;
	margin: auto;
	padding: 20px 60px;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: $white-color;

	@media only screen and (max-width: 800px) {
		padding: 20px 10px;
		width: 80%;
	}
}

.formHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.observer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	margin-right: 15px;

	@media only screen and (max-width: 600px) {
		font-size: 30px;
		line-height: 32px;
	}
}

.input {
	max-width: 100%;
}

.cancel {
	background: $white-color;
	color: $Deep-Koamaru;
}

.cancel:hover {
	background-color: $Deep-Koamaru;
	color: $white-color;
}

.buttons {
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media only screen and (max-width: 600px) {
		gap: 20px;
		justify-content: center;
	}
}

.btn {
	@media only screen and (max-width: 600px) {
		width: 100%;
	}
}
