@import '/src/assets/styles/_variables';

.card {
	border: 1px solid $Deep-Koamaru;
	border-radius: 5px;
	box-shadow: 0 4px 4px $ShadowDarkBox;
	transition: all 0.5s;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: $Deep-Koamaru;
	padding: 5px;
	box-sizing: border-box;

	@media (max-width: 900px) {
		min-height: 50px;
	}
}

.card:hover {
	box-shadow: 4px 4px 4px $Dark-Electric-Blue;
}
