$white-color: #fff;
$light-salmon-pink: #f99;
$Pastel-Red: #f66;
$Deep-Carmine-Pink: #ff3333;
$Ferrari-Red: #ff1e00;
// Main color
$Medium-Aquamarine: #60dabf;
$Light-Brown: #b7631a;
$Maximum-Purple: #7d3488;
$Razzmatazz: #e32b77;
$Mulberry-Crayola: #c34bad;
$Byzantine: #a527b1;
$Light-Sea-Green: #24a6ac;
$Middle-Green-Yellow: #a1b261;
$Android-Green: #a1bb41;

// Pallet color
$Deep-Koamaru: #2b3a67;
$Dark-Electric-Blue: #496a81;
$Desaturated-Cyan: #65999b;
$Sage: #b4af8f;
$Topaz: #ffc482;

$TextDark: #000;
$BackgroundGray: #c4c4c4;
$BackgroundGrayModal: rgba(196, 196, 196, 0.6);
$DistantBlue: #496a81;
$ColorTimer: rgba(0, 0, 0, 0.5);
$BackgroundMediumAquamarine: rgba(96, 218, 191, 0.46);
