@import '/src/assets/styles/variables';

.footer {
	height: 50px;
	background-color: $Deep-Koamaru;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 50px;
	margin: 0 auto;
}

.github {
	display: flex;
	align-items: center;
	height: 50px;
	padding-left: 45px;
	background-image: url(../../../assets/images/Footer/github.svg);
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: left center;
	transition: 0.5s;
}

.item {
	list-style-type: none;
	font-size: 12px;
	transition: all 0.5s;
}

.item a {
	cursor: pointer;
	color: $white-color;
	text-decoration: none;
}

.item a:hover {
	opacity: 0.7;
}

.rss a {
	display: block;
	position: relative;
	height: 32px;
	padding-right: 115px;
	background-image: url(../../../assets/images/Footer/rss.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

.year {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 14px;
	letter-spacing: 0px;
	color: $white-color;
	transition: 0.5s;
}

.rss a:hover .year {
	right: -5px;
	letter-spacing: 0;
}
